body {
    padding: 21px 7px 7px 21px;
}

.column {
    border-radius: 2px, 4px, 2px, 4px;
    border-style: dotted;
    border-color: rgb(179, 82, 209);
    padding-top: 2px;
}

.column .box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: large;
    width: 120px;
    height: 100px;
    background: rgb(64, 145, 107);
    padding: 8px;
    display: grid;
    place-content: center;
    color: rgb(85, 72, 72);
    text-align: center;
}